<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Editar Loja</title>
  <link rel="stylesheet" href="/css/editar-loja.css">
</head>
<body>
  <%- include('partials/navbar') %>

  <main class="painel-container">
    <h2>Editar Dados da Loja</h2>
    
    <form method="POST" action="/painel/editar-loja" class="form-loja">
      <label>Nome Fantasia</label>
      <input type="text" name="nomeFantasia" value="<%= loja.nomeFantasia %>" required>

      <label>Telefone</label>
      <input type="text" name="telefone" value="<%= loja.telefone %>">

      <label>Estado</label>
      <input type="text" name="estado" value="<%= loja.estado %>">

      <label>Cidade</label>
      <input type="text" name="cidade" value="<%= loja.cidade %>">

      <label>Endereço</label>
      <input type="text" name="endereco" value="<%= loja.endereco %>">

      <label>Descrição</label>
      <textarea name="descricao" rows="4"><%= loja.descricao %></textarea>
    <div class="botoes-painel">
    <a href="/painel/loja" class="btn-voltar-painel">← Voltar ao Painel</a>  
    <button type="submit" class="btn-filtrar">Salvar Alterações</button>
    </div>

    </form>
  </main>

  <%- include('partials/footer') %>
</body>
</html>
