<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="most-viewed-gallery-wrap">
    <div class="most-viewed-gallery-title">
      <h1>Itens mais acessados</h1>
    </div>
    <div class="most-viewed-gallery">
      <% produtos.forEach(item => { %>
        <a href="/item/<%= item.id %>" class="card-produto">
          <img src="<%= item.imagem_url.split(',')[0] %>" alt="Imagem do produto">
          <div class="descricao-hover">
            <p><%= item.descricao %></p>
            <p><b>Marca:</b> <%= item.marca %></p>
            <p><b>Tipo: </b><%= item.tipo %></p>
            <p><b>Condição: </b><%= item.condicao %></p>
            <p><b>R$ <%= item.preco %></b></p>
            <button class="btn-vermais">Ver mais</button>
          </div>
        </a>
      <% }) %>
    </div>
  </div>

  
  
<div class="brands-filter-gallery-wrap">
  <div class="brands-gallery-title">
    <h2>Marcas</h2>
  </div>
  <div class="brands-carousel-row">
    <img src="/images/back.png" id="backBtn">
    <div class="brands-filter-gallery">
      <div>
        <a href="/produtos?marca=Fender"><img src="/images/brand_logos/brand_fender.png" alt="Fender"></a>
        <a href="/produtos?marca=Tagima"><img src="/images/brand_logos/brand_tagima.png" alt="Tagima"></a>
        <a href="/produtos?marca=Yamaha"><img src="/images/brand_logos/brand_yamaha.png" alt="Yamaha"></a>
        <a href="/produtos?marca=Ibanez"><img src="/images/brand_logos/brand_ibanez.png" alt="Ibanez"></a>
        <a href="/produtos?marca=Gibson"><img src="/images/brand_logos/brand_gibson.png" alt="Gibson"></a>
        <a href="/produtos?marca=Godin"><img src="/images/brand_logos/brand_godin.png" alt="Godin"></a>
        <a href="/produtos?marca=Guild"><img src="/images/brand_logos/brand_guild.png" alt="Guild"></a>
        <a href="/produtos?marca=Luna"><img src="/images/brand_logos/brand_luna.png" alt="Luna"></a>
        <a href="/produtos?marca=Gretsch"><img src="/images/brand_logos/brand_gretsch.png" alt="Gretsch"></a>
        <a href="/produtos?marca=Jackson"><img src="/images/brand_logos/brand_jackson.png" alt="Jackson"></a>
      </div>
    </div>
    <img src="/images/forward.png" id="forwardBtn">
  </div>
</div>


  <div class="stores-carousel-wrap">
    <div class="stores-title">
      <h2>Lojas Favoritas:</h2>
    </div>
  
    <div class="stores-carousel-row">
      <img src="/images/back.png" id="storesBackBtn">

      <div class="stores-carousel">
        <div>
          <% lojasTop.forEach(loja => { %>
            <a href="/loja/<%= loja.id %>" title="<%= loja.nomeFantasia %>">
              <img 
                src="<%= loja.icone_url || '/images/store_logos/store.png' %>" 
                alt="<%= loja.nomeFantasia %>" 
                class="banner-logo"
              >
            </a>
          <% }) %>
        </div>
      </div>

      <img src="/images/forward.png" id="storesForwardBtn">
    </div>

  </div>
  

  <script>
    const backBtn = document.getElementById("backBtn");
    const forwardBtn = document.getElementById("forwardBtn");
    const carousel = document.querySelector(".brands-filter-gallery");
  
    const scrollAmount = 400; // Adjust based on how much you want to scroll
  
    backBtn.addEventListener("click", () => {
      carousel.scrollBy({
        left: -scrollAmount,
        behavior: "smooth"
      });
    });
  
    forwardBtn.addEventListener("click", () => {
      carousel.scrollBy({
        left: scrollAmount,
        behavior: "smooth"
      });
    });
  </script>

<script>
  const storesbackBtn = document.getElementById("storesBackBtn");
  const storesforwardBtn = document.getElementById("storesForwardBtn");
  const storescarousel = document.querySelector(".stores-carousel");

  const storesScrollAmount = 400; // Adjust based on how much you want to scroll

  storesbackBtn.addEventListener("click", () => {
    storescarousel.scrollBy({
      left: -storesScrollAmount,
      behavior: "smooth"
    });
  });

  storesforwardBtn.addEventListener("click", () => {
    storescarousel.scrollBy({
      left: storesScrollAmount,
      behavior: "smooth"
    });
  });
</script>

<%- include('partials/footer.ejs') %>



</body>
</html>